/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
    color: white;
    font-family: 'Space Mono', sans-serif;
}

body {
    background: blue url('../images/space-background.jpg') no-repeat center center/cover;
}

logo {
    font-size: 6rem;
    margin: auto;
}

