/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Syne+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
    color: white;
    font-family: 'Space Mono', monospace;
}
html {
    height: auto;
}

body {
    height: auto;
    background: blue url('../images/space-background.jpg') no-repeat center center/cover;
}

.logo h1 {
    font-family: 'Syne Mono', monospace;
}

.logo {
    font-size: 2rem;
    margin: auto;
    text-align: center;
    letter-spacing: 10px;
}

#game-level-area, #game-area, #mission-accomplished, #mission-aborted {
    font-size: 1.1rem;
    margin: 50px 200px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(8, 17, 75, 0.7);
    border-radius: 30px;
    box-shadow: 15px 20px 20px 1px #08114B;
    letter-spacing: 3px;
}

#game-level-area p {
    margin: 30px 100px;
}

.difficulty-buttons {
    padding: 50px;
    font-size: 1.2rem;
}

.button-level {
    background-color: #341074;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 30px;
    box-shadow: 15px 20px 20px 1px #08114B;
    margin: 20px;
}

.button-level:hover {
    background-color: #863C6F;
}

#random-word {
    margin: 50px; 
}

#alphabet {
    margin: 50px;
}

.scores-area p {
    display: inline-block;
    margin: 50px;
}

#rocket img{
    height: 200px;
}

#rocket {
    position: relative;
    left: -419px;
    bottom: -50px;
    animation: fly 10s ease-in once;
}

@keyframes fly { 
    from{ bottom: -50%;}
    to{ bottom: 100%;}
}

